# Aplikacija (Spring)
DB_USERNAME=nvp_app
DB_PASSWORD=change-me

# MySQL kontejner (čita se samo pri PRVOM pokretanju, dok je volume prazan)
MYSQL_ROOT_PASSWORD=change-me
MYSQL_DATABASE=nvp_data
MYSQL_USER=nvp_app
MYSQL_PASSWORD=change-me
