<div class="home-container">

  <header class="top-menu">
    <div class="logo-section">
      <img src="assets/logo.png" alt="Logo" class="logo">
      <span class="logo-text">RAF cloud</span>
    </div>

    <div class="search-section">
      <input type="text" placeholder="Search..." class="search-input">
      <button class="search-btn" (click)="goToSearchMachines()">
        🔍
      </button>
    </div>
  </header>

  <main class="main-content">
    <div class="container">
      <div class="card-column">
        <div class="card" routerLink = "/management">User Management</div>
        <div class="card" routerLink="/search-machines">Search Machine</div>
        <div class="card" routerLink="/create-machine">Create Machine</div>
        <div class="card" routerLink="/error-log">Error Log</div>
      </div>
    </div>
  </main>

</div>
